---
title: Rustin - ChatOps for Rust.
---

.jumbotron
  .container-fluid.text-center
    %h1 Rustin
    %h2 ChatOps for Rust.
    %p Come join early development!
    %p
      %a{ class: 'btn btn-primary btn-lg', href: 'https://github.com/rustinio', role: 'button' } GitHub
      %a{ class: 'btn btn-primary btn-lg', href: 'https://matrix.to/#/#rustin:matrix.org', role: 'button' } Matrix
